{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Welcome</h1>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p><a href="/profile">profile</a></p>
    {% else %}
        <p><a href="/login">login</a></p>
        <p><a href="/register">register</a></p>
    {% endif %}
{% endblock body %}
